.card.login-card {
    padding: 8% 10% 100%;
    
  }
  
  .form.login-form {
    max-width: 350px;
    margin: auto;
  }
  
  .card-text.login-text {
    margin: 10px 0 30px;
  }
  
  .form-group {
    margin: 2% 20% 0 20%;
  }

  input.login-btn {
    margin: 1rem;
  }